@import url("https://fonts.googleapis.com/css2?family=Inter&family=Pixelify+Sans&display=swap");

:root {
  --cor-primaria: #ff847c; /* Azul primário */
}

/* Estilos do cabeçalho */
header {
  background-color: var(--cor-primaria);
  color: white;
  padding: 10px 0;
  text-align: center;
}

.logo img {
  width: 100px; /* Reduz o tamanho da logo */
  height: auto;
  display: block;
  margin: 0 auto; /* Centraliza a logo */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 10 px;
  text-align: center; /* Centraliza os itens do menu */
}

nav ul li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  font-size: 20px;
}

nav ul li a:hover {
  color: var(--cor-secundaria);
}

.opcoes{
  background-color: #e84a5f;
}